{% extends 'layouts/main.html' %}
{% block title %}Fyyur | All{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
      <!--  <button class="dele btn btn-primary" data_id="{{artist.id}}">Delete artist</button>-->
	</li>
	{% endfor %}
</ul>
<ul class="items">
	{% for venue in venues %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
			</div>
		</a>
      <!-- <button class="dele btn btn-primary" data_id="{{venue.id}}">Delete artist</button>-->
	</li>
	{% endfor %}
</ul>
<!--<style>
    .dele{
        width:150px;
        }
</style>
<script>
    entry=document.querySelectorAll(".dele")
     for(let j=0;j<entry.length;j++){
         let deel=entry[j];
         deel.onclick=function(e){
             e.preventDefault();
           de=deel.getAttribute('data_id');
           fetch('/artists/'+de+'/dele',{
             method:'DELETE'})
         .then(function() {
          const item = e.target.parentElement;
          item.remove();
        })
       }};
</script>-->

{% endblock %}